
.container {
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px;
  width: 200px;
}

app-single-medal-count {
  flex: 1;
}
