

.container {
  display: flex;
  flex-direction: row;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #FFC400;
  padding: 5px;
  margin-left: 10px;
}

.gold {
  background-color: #FFC400;
}

.silver {
  background-color: #E0E0E0;
}

.bronze {
  background-color: #795548;
}

.count {
  font-size: 19px;
  padding-left: 10px;
}
